{% extends 'base/base.html' %}
{% load static %}
{% block bread-crumb %}
{% include 'base/bread-crumb.html' %}
{% endblock %}
{% block main-contents %}
<!-- hero -->
<section class="hero is-primary">
  <div class="hero-body">
    <img class="concept" src="{% static 'concept2.png' %}">
    <div class="container has-text-centered">
      <h1 class="title">
        Concept
      </h1>
    </div>
  </div>
</section>
<!-- main contents -->
<section class="section" style="height: 100%;">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="content">
        <p>
          Stream BoxではYoutube上のゲーム実況動画や実況者を見つけることができます。<br>
          <span class="has-text-weight-semibold">楽にYoutube内の検索では見つからなかった面白い実況者を探せるサイトがほしい</span>
          と思い、ゲーム実況動画などを集計しまとめてみることにしました。
        </p>
        <p>

        </p>
        <h2 class="has-text-centered">Evaluation</h2>
        <p>
          Stream BoxではYoutubeでの再生数やコメント数といった統計情報を利用しています。<br>
          これらをチャンネル別、動画別に各ゲームカテゴリなどの項目で集計しランキング化していく予定です。<br>
          また、その他おすすめといった項目では以下の観点からも評価を検討しています。
        </p>
        <ul>
          <li>サイト運営者の独断と偏見によるおすすめ</li>
          <li>ゲーム自体の人気度合い</li>
          <li>実況者のプレイスキル</li>
          <li>動画内でのトーク</li>
        </ul>
        <p>
          とはいえ、運営者だけでは星の数ほどいる実況者を全て網羅することはできません。<br>
          そのためおすすめの実況者やプレイ動画があれば、以下のコンタクトフォームより教えていただければ幸いです。<br>
          サイト内にデータが無かった場合追加します。
        </p>

        <h2 class="has-text-centered">About Us</h2>
        <table class="table is-fullwidth">
          <thead>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <th>運営者</th>
              <td>
                <a href="https://twitter.com/kairyu_st" rel="nofollow" target="blank">カイリュー</a>
              </td>
            </tr>
            <tr>
              <th>好きなゲーム</th>
              <td>
                <p>KH3, fps諸々</p>
              </td>
            </tr>
            <tr>
              <th>一言</th>
              <td>
                <p>
                  暇つぶしで見てられる動画やアホみたいな実況動画をおすすめできるようにサイトを作ります。<br>
                  最近はスマブラかFortniteの実況動画を見てます。
                </p>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <th></th>
            <th></th>
          </tfoot>
        </table>
      </div>

      <div class="content">
        <h2 class="has-text-centered">
          Contact Us
        </h2>
      </div>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" placeholder="Text input" value="bulma">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This username is available</p>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger">This email is invalid</p>
      </div>

      <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="radio">
            <input type="radio" name="question">
            Yes
          </label>
          <label class="radio">
            <input type="radio" name="question">
            No
          </label>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock main-contents %}