<!DOCTYPE html>
<html lang="ja" class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stream Box - おすすめのゲーム実況者ランキングから探す -</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  {% load static %}
  <script src="{% static 'static.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'static.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon3.png' %}" type="image/png">
</head>

<body>
  <!-- header -->
  <div class="container">
    <nav class="navbar is-fixed-top soft-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="{% static 'banner2.jpg' %}">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
          <a class="navbar-item">
            Search
          </a>

          <a class="navbar-item" href="/about/">
            About
          </a>

        </div>
      </div>
    </nav>
  </div>
  <!-- breadcumb -->
  <div class="container" style="margin: 1rem 1.5rem;">
    <nav class="breadcrumb has-succeeds-separator is-small" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">Bulma</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Components</a></li>
        <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
      </ul>
    </nav>
  </div>

  </div>
  <!-- main contents -->
  <div class="main-contents">
    <h1 class="is-size-3 caption">人気ランキング</h1>
    <div class="tabs is-right">
      <ul>
        <li class="is-active"><a>Pictures</a></li>
        <li><a>Music</a></li>
        <li><a>Videos</a></li>
        <li><a>Documents</a></li>
      </ul>
    </div>
    <div class="">
      <ul class="box-list grid-auto-fill">
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info content is-small">
              <h3 style="margin-bottom: 5px;">はじめしゃちょー</h3>
              <div class="box-info-data">
                <div class="data-block">
                  <span class="tag is-light">視聴回数</span>
                  <span>3.5億</span>
                  <span class="tag is-light">登録者数</span>
                  <span>5000万</span>
                </div>
              </div>
              <div class="box-info-data">
                <span class="tag is-light">投稿本数</span>
                <span>50万</span>
              </div>

          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
        <li class="item" style="list-style: none;">
          <a class="box-wrapper" href="/about">
            <div class="box-thumnail">
              <img
                src="https://www.img-ikyu.com/contents/common/image/acc6/00000946/4/lg/10781747.jpg?auto=compress,format&lossless=0">
            </div>
            <div class="box-info">
              <h3>hoge</h3>
              <span>title</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

</body>

</html>