
  .navbar {
    padding: 0.3rem 1.5rem;
  }

  .hero-body{
    background: linear-gradient(to bottom right, #00D1B2, #fbe2b4);
    height: 170px;
    position: relative;
  }
  .title {
    line-height: 2.125;
  }

.concept {
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 0px;
  right: 150px;
}

.main-contents {
  padding: 1.5rem 5rem;
  display: block;
  position: relative;
}

.caption {
  position: absolute;
  top: 0px;
}

.section {
  background-color: #fdfdfd;  
}

.soft-shadow {
  box-shadow: 0 5px 10px 0 rgba(0,64,128,.05);
}

.grid-auto-fill {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 1em 0 2em;
  overflow: hidden;
  justify-content: space-between;
}

.grid-auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(250px, 0.3fr));
}


.grid-auto-fill > div {
  padding: 10px;
  background: #fdfdfd;
}

.item{
  height: 100%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
  transition: box-shadow .3s;
}

.box-wrapper {
  cursor: pointer;
  height: 100%;
}
.box-thumnail{
  position: relative;
  margin: 8px;
}
.box-thumnail > img {
  border-radius: 6px;
}
.box-label{
  position: absolute;
  padding: 5px 10px;
  bottom: -5px;
  left: 0;
  opacity: 0.8;
}
.box-info {
  padding: 5px 10px;
}

.box-info-data {
  display: flex;
  margin-bottom: 5px;
}
.data-block{
  display: block;
}

.field {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .grid-auto-fill{
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 1em 0 2em;
  }
  .grid-auto-fill > div {
    padding: 10px;
    background: #ddd;
    margin-bottom: 1em;
  }

  .main-contents {
    padding: 1rem 1.5rem;
    display: block;
  }
}


/* 
mediascreenに関してはbulmacssに直接あてること
タブレット以上のスクリーンのnavにpadding: 1rem 1.5rem;
*/